---
interface Props {
  title: string;
}

const description = "Astro and Supabase demo app";
const { title } = Astro.props;
const ogImageURL = new URL("hero.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
---

<html lang="en" class="h-full w-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body
    class="flex flex-col h-full w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100"
  >
    <!-- <nav class="border-b bg-white dark:bg-zinc-800 dark:border-zinc-700">
      <div
        class="flex items-baseline justify-end sm:justify-between p-4 max-w-screen-xl mx-auto"
      >
        <a href="/" class="hidden sm:block font-semibold dark:text-white"
          >Astro</a
        >
        <div>
          <ul class="font-medium flex items-baseline gap-8">
            <li>
              <a
                href="/dashboard"
                class="block text-zinc-900 dark:text-gray-200">Dashboard</a
              >
            </li>
            <li>
              <a href="/register" class="block text-zinc-900 dark:text-gray-200"
                >Register</a
              >
            </li>
            <li>
              <a href="/signin" class="block text-zinc-900 dark:text-gray-200"
                >Sign in</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- ========== HEADER ========== -->
    <header
      class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7"
    >
      <nav
        class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 md:px-8 mx-auto"
        aria-label="Global"
      >
        <div class="md:col-span-3">
          <!-- Logo -->
          <a
            href="/"
            class="hidden sm:block font-bold dark:text-white text-slate-500 text-3xl"
            >Astro</a
          >
          <!-- End Logo -->
        </div>

        <!-- Button Group -->
        <div
          class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3"
        >
          <a href="/register">
            <button
              type="button"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
            >
              Registrarse
            </button>
          </a>

          <a href="/signin">
            <button
            type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-lime-400 text-black hover:bg-lime-500 transition disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-lime-500"
          >
            Iniciar Sesión
          </button>
          </a>

          <div class="md:hidden">
            <button
              type="button"
              class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
              data-hs-collapse="#navbar-collapse-with-animation"
              aria-controls="navbar-collapse-with-animation"
              aria-label="Toggle navigation"
            >
              <svg
                class="hs-collapse-open:hidden flex-shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><line x1="3" x2="21" y1="6" y2="6"></line><line
                  x1="3"
                  x2="21"
                  y1="12"
                  y2="12"></line><line x1="3" x2="21" y1="18" y2="18"
                ></line></svg
              >
              <svg
                class="hs-collapse-open:block hidden flex-shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
              >
            </button>
          </div>
        </div>
        <!-- End Button Group -->

        <!-- Collapse -->
        <div
          id="navbar-collapse-with-animation"
          class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6"
        >
          <div
            class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0"
          >
            <div>
              <a
                class="relative inline-block text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400"
                href="/dashboard"
                aria-current="page">Panel Principal</a
              >
            </div>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </header>
    <!-- ========== END HEADER ========== -->
    <slot />
  </body>
</html>
